@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
/*font-family: 'Jost', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

body, html {
  background: #F8F8F7;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

button {
  display: contents;
}

a {
  text-decoration: none;
}