main {
  --white: #FFFFFF;
  --black: #1D1D1D;
  display: flex;
  padding-left: 8.40277778%;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  gap: 20px;
}
main .left {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 75px;
}
main .left:first-child {
  position: fixed;
}
main .left:nth-child(2) {
  visibility: hidden;
}
main .left .content {
  position: relative;
  width: 100%;
}
main .left .content h1 {
  font-size: 44px;
  color: var(--black);
}
main .left .content p {
  font-size: 20px;
  color: va(--black);
}
main .left .content .faded {
  margin-top: 10px;
  font-weight: 400;
  color: #8C8C8C;
}
main .left .content .header {
  margin-top: 60px;
}
main .left .content .menu {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: stretch;
  gap: 16px;
}
main .left .content .menu > div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 138px;
  max-height: 244px;
  width: auto;
  height: auto;
}
main .left .content .menu > div .blue-back {
  background: #B4B7FF;
}
main .left .content .menu > div .green-back {
  background: #97EAB9;
}
main .left .content .menu > div .yellow-back {
  background: #FFD280;
}
main .left .content .menu > div input[type="checkbox"] {
  display: none;
}
main .left .content .menu > div .button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 138px;
  height: 36px;
  background: var(--white);
  border-radius: 10px;
  align-self: stretch;
  flex-grow: 1;
  /* Text */
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  color: #FF868E;
}
main .left .content .menu > div .button:hover {
  transition: 0.2s;
  background: #FBE0DC;
}
main .left .content .menu > div .button:hover + .icon {
  transition: 0.2s;
  border-color: var(--white);
}
main .left .content .menu > div input[type="checkbox"]:checked + .button {
  color: var(--white);
  background: #FF868E;
}
main .left .content .menu > div input[type="checkbox"]:checked + .button + .icon {
  border-color: #FBE0DC;
}
main .left .content .menu > div .icon {
  display: flex;
  align-items: center;
  align-content: center;
  width: 138px;
  height: 198px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
main .left .content .menu > div .icon > img {
  margin: auto;
  width: available;
  height: available;
}
main .right {
  width: 100%;
  justify-content: right;
  display: flex;
  position: relative;
  /*.gallery-selector {
      display: none;
    }

    .voting-selector {
      display: none;
    }*/
}
main .right .background {
  position: relative;
  max-width: 80%;
  /* position: absolute;
      right: 20px;
      top: 32px; */
  margin-right: 20px;
  margin-top: 32px;
  width: 680px;
  height: 90%;
  background: #FBE0DC;
  border-radius: 20px;
}
main .right .background img {
  max-height: 100vh;
  height: auto;
  width: fit-content;
  object-fit: contain;
  position: absolute;
  left: -75px;
  top: -32px;
}
main .right .content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  max-width: inherit;
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  padding: 30px 30px 20px 30px;
  margin: 30px 30px 0 0;
}
main .right .content .pink-button {
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: auto;
  background: #FBE0DC;
  border-radius: 10px;
}
main .right .content .pink-button:hover {
  background: #FF868E;
}
main .right .content .pink-button:hover path {
  fill: #FFFFFF;
}
main .right .content nav {
  align-content: stretch;
  max-height: 60px;
  max-width: 680px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
main .right .content nav .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px 20px;
  max-width: 470px;
  width: 100%;
  gap: 5px;
  max-height: 60px;
  background: #FFFFFF;
  border-radius: 20px;
  /*.button {
            transition: 0.2s;
            cursor: pointer;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
            height: 100%;
            width: auto;
            background: #FBE0DC;
            border-radius: 10px;

            &:hover {
              background: #FF868E;

              //>img {
              //  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(285deg) brightness(105%) contrast(102%);
              //}
              path {
                fill: #FFFFFF;
              }
            }
          }*/
}
main .right .content nav .search input {
  min-width: 230px;
  width: 100%;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 20px;
}
main .right .content nav .search input::placeholder {
  transition: 0.2s;
  color: #8C8C8C;
}
main .right .content nav .search input:hover::placeholder {
  color: var(--white);
}
main .right .content nav .search input:focus::placeholder {
  color: var(--black);
}
main .right .content nav .search:hover {
  outline: 2px solid #FBE0DC;
}
main .right .content nav .search:focus-within {
  outline: 2px solid #FF868E;
}
main .right .content nav .button {
  transition: 0.2s;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: var(--white);
  border-radius: 20px;
}
main .right .content nav .button:hover {
  background: #FBE0DC;
}
main .right .content nav .button:active {
  background: #FF868E;
}
main .right .content nav .button:active path {
  fill: var(--white);
}
main .right .content .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 20px 0 20px;
  max-width: 680px;
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  background: #FFFFFF;
  border-radius: 20px;
}
main .right .content .main > * {
  margin-bottom: 20px;
}
main .right .content .main *:last-child,
main .right .content .main *:nth-last-child(2) {
  margin: 0;
}
main .right .content .main .options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  gap: 10px;
  max-height: 40px;
  width: 100%;
  /*.button {
            cursor: pointer;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
            height: 100%;
            width: auto;
            background: #FBE0DC;
            border-radius: 10px;

            &:hover {
              background: #FF868E;

              //>img {
              //  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(285deg) brightness(105%) contrast(102%);
              //}
              path {
                fill: #FFFFFF;
              }
            }
          }*/
}
main .right .content .main .options > div {
  all: inherit;
  justify-content: initial;
}
main .right .content .main .options .label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 146px;
  width: 100%;
  height: 40px;
  background: #FF868E;
  border-radius: 10px;
  /* Text */
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
}
main .right .content .main .options select {
  display: initial;
  border: none;
  height: 100%;
  min-width: fit-content;
  padding: 8px 25px 8px 10px;
  border-radius: 10px;
  outline-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  background: #F8F8F7 url(../img/arrowdown.svg) calc(100% - 10px) no-repeat;
  /* Add custom arrow */
  /* Text */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #8C8C8C;
}
main .right .content .main .options select:hover {
  outline: 2px solid #FBE0DC;
}
main .right .content .main .options select:focus {
  outline: transparent;
}
main .right .content .main .options select:first-of-type {
  width: 100%;
}
main .right .content .main .options input[type=radio] {
  display: contents;
}
main .right .content .main .options .sort-button {
  cursor: pointer;
  min-width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #F8F8F7;
  border-radius: 10px;
}
main .right .content .main .options .sort-button:hover,
main .right .content .main .options input[type="radio"]:checked + .sort-button {
  outline: 2px solid #FBE0DC;
}
main .right .content .main .options .sort-button:hover path,
main .right .content .main .options input[type="radio"]:checked + .sort-button path {
  fill: #FF868E;
}
main .right .content .main .options .button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  gap: 10px;
  max-width: 142.77px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  background: #FBE0DC;
  border-radius: 10px;
}
main .right .content .main .options .button span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  color: #FF868E;
}
main .right .content .main .options .button:hover {
  transition: 0.2s;
  background: #FF868E;
}
main .right .content .main .options .button:hover span {
  color: var(--white);
}
main .right .content .main .options .button:hover path {
  fill: var(--white);
}
main .right .content .main .gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  /*display: flex;
          flex-wrap: wrap;
          row-gap: 10px;
          column-gap: 20px;*/
  align-items: flex-start;
  padding: 10px 20px 20px;
  max-width: inherit;
  width: 100%;
  height: 100%;
  background: #F8F8F7;
  border-radius: 20px;
}
main .right .content .main .gallery-grid .grid-item {
  width: 100%;
  height: 100%;
  min-width: fit-content;
  max-height: 58px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .right .content .main .gallery-grid .grid-item span {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: #8C8C8C;
  margin-left: 10px;
}
main .right .content .main .gallery-grid .grid-item > div {
  display: flex;
  border: none;
  height: 100%;
  width: 100%;
  min-width: fit-content;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
main .right .content .main .gallery-grid .grid-item > div > button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
}
@-webkit-keyframes rotating {
  /* Safari and Chrome */
  from {
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(450deg);
    -o-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  to {
    -ms-transform: rotate(450deg);
    -moz-transform: rotate(450deg);
    -webkit-transform: rotate(450deg);
    -o-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
main .right .content .main .gallery-grid .grid-item > div > button:hover {
  transition: 0.2s;
  background: #FBE0DC;
}
main .right .content .main .gallery-grid .grid-item > div > button:hover svg {
  transition: 0.2s;
  transform: rotate(90deg);
}
main .right .content .main .gallery-grid .grid-item > div > button:active {
  background: #FF868E;
}
main .right .content .main .gallery-grid .grid-item > div > button:active svg {
  webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}
main .right .content .main .gallery-grid .grid-item > div > button:active svg path {
  fill: var(--white);
}
main .right .content .main .gallery-grid .grid-item select {
  display: initial;
  border: none;
  height: 100%;
  width: 100%;
  min-width: fit-content;
  border-radius: 10px;
  padding: 8px 25px 8px 10px;
  outline-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  background: var(--white) url(../img/arrowdown.svg) calc(100% - 10px) no-repeat;
  /* Add custom arrow */
  /* Text */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #1D1D1D;
}
main .right .content .main .page {
  display: block;
  max-width: inherit;
  width: 100%;
  height: 100%;
  position: relative;
}
main .right .content .main .page > img {
  max-width: inherit;
  max-height: 360px;
  height: 360px;
  width: 100%;
  object-fit: cover;
  background: #8C8C8C;
  border-radius: 20px;
}
main .right .content .main .page .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  max-width: 248px;
  width: 100%;
  height: 80px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 318px;
  background: #FFFFFF;
  border: 4px solid #FFFFFF;
  border-radius: 20px;
}
main .right .content .main .page .buttons .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  width: 100%;
  min-width: min-content;
  height: 80px;
  background: rgba(var(--buttonSrc), 1);
}
main .right .content .main .page .buttons .button path {
  fill: var(--white);
  d: var(--d);
}
main .right .content .main .page .buttons .button:hover {
  transition: 0.2s;
  background: rgba(var(--buttonSrc), 0.3);
}
main .right .content .main .page .buttons .button:hover path {
  fill: rgb(var(--buttonSrc));
}
main .right .content .main .page .buttons .button:active {
  transition: 0s;
  background: rgb(var(--buttonSrc));
}
main .right .content .main .page .buttons .button:active path {
  fill: var(--white);
  d: var(--dActive, var(--d));
}
main .right .content .main .page .buttons .button:first-child {
  border-radius: 20px 0 0 20px;
}
main .right .content .main .page .buttons .button:last-child {
  border-radius: 0 20px 20px 0;
}
main .right .content .main .page .logs {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: inherit;
  width: 100%;
}
main .right .content .main .page .logs .log {
  height: 60px;
  width: 100%;
  padding: 0 20px 0 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: stretch;
  background: #F8F8F7;
}
main .right .content .main .page .logs .log > strong {
  background: var(--white);
  border-radius: 5px;
  max-width: 61px;
  width: 100%;
  min-width: fit-content;
  height: 30px;
  text-align: center;
  /* Text */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  line-height: 30px;
}
main .right .content .main .page .logs .log > p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #8C8C8C;
}
main .right .content .main .page .logs .log > p span {
  font-weight: 500;
  color: var(--black);
}
main .right .content .main .page .logs .log > svg {
  max-width: 20px;
  max-height: 20px;
}
main .right .content .main .page .logs .log > svg > path {
  fill: var(--background);
}
main .right .content .main .grid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  max-width: inherit;
  width: 100%;
  height: fit-content;
}
main .right .content .main .grid > section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  max-width: inherit;
  width: 100%;
  height: 460px;
  /*
            &:first-child { grid-area: 1 / 1 / 3 / 2; }
            &:nth-child(2) { grid-area: 3 / 1 / 4 / 2; }
            &:nth-child(3) { grid-area: 1 / 2 / 2 / 3; }
            &:nth-child(4) { grid-area: 1 / 3 / 2 / 4; }
            &:last-child { grid-area: 2 / 2 / 4 / 4; }
            */
}
main .right .content .main .grid > section:nth-child(odd) {
  grid-template-areas: "item-1 item-2 item-3" "item-1 item-5 item-5" "item-4 item-5 item-5";
}
main .right .content .main .grid > section:nth-child(even) {
  grid-template-areas: "item-1 item-2 item-3" "item-4 item-4 item-3" "item-4 item-4 item-5";
}
main .right .content .main .grid > section .item {
  cursor: pointer;
  border-radius: 20px;
  align-self: stretch;
  height: 100%;
  width: 100%;
  min-width: fit-content;
  background: rgba(255, 134, 142, 0) var(--background) center center / cover;
  padding: 0 10px 10px 10px;
  display: flex;
  align-items: end;
  align-content: stretch;
  justify-content: center;
  /*&:first-child { grid-area: 1 / 1 / 3 / 2; }
              &:nth-child(2) { grid-area: 3 / 1 / 4 / 2; }
              &:nth-child(3) { grid-area: 1 / 2 / 2 / 3; }
              &:nth-child(4) { grid-area: 1 / 3 / 2 / 4; }
              &:last-child { grid-area: 2 / 2 / 4 / 4; }*/
}
main .right .content .main .grid > section .item:first-child {
  grid-area: item-1;
}
main .right .content .main .grid > section .item:nth-child(2) {
  grid-area: item-2;
}
main .right .content .main .grid > section .item:nth-child(3) {
  grid-area: item-3;
}
main .right .content .main .grid > section .item:nth-child(4) {
  grid-area: item-4;
}
main .right .content .main .grid > section .item:nth-child(5) {
  grid-area: item-5;
}
main .right .content .main .grid > section .item .label {
  background-color: var(--white);
  visibility: hidden;
  width: 100%;
  min-width: fit-content;
  max-height: 34px;
  height: 100%;
  border-radius: 10px;
  padding: 8px 10px;
  /* Text */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF868E;
}
main .right .content .main .grid > section .item:hover {
  transition: 0.2s;
  background-image: linear-gradient(rgba(255, 134, 142, 0.6), rgba(255, 134, 142, 0.6)), var(--background);
}
main .right .content .main .grid > section .item:hover .label {
  visibility: visible;
}
main .right .content .main .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 284px;
  height: 40px;
  justify-content: space-between;
  gap: 10px;
  margin: 12px auto;
}
main .right .content .main .footer button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  gap: 10px;
  background: #FBE0DC;
  border-radius: 10px;
}
main .right .content .main .footer button span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  color: #FF868E;
}
main .right .content .main .footer button:disabled {
  cursor: initial;
  background: #F8F8F7;
}
main .right .content .main .footer button:disabled span {
  color: #8C8C8C;
}
main .right .content .main .footer button:disabled path {
  fill: #8C8C8C;
}
main .right .content .main .footer button:hover:enabled {
  transition: 0.2s;
  background: #FF868E;
}
main .right .content .main .footer button:hover:enabled span {
  color: var(--white);
}
main .right .content .main .footer button:hover:enabled path {
  fill: var(--white);
}
main .right #content {
  display: none;
}
main .right .breeds-selector,
main .right .gallery-selector,
main .right .voting-selector {
  display: none;
}
/*# sourceMappingURL=styles.css.map */